/* base */

body {
  margin: 0;
  font-family: sans-serif;
}
#ad-container {
  width: 300px;
  height: 600px;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  background: #fcf8ef url("../images/F1_Background_img.png") 0 0 no-repeat;
}
#main-frame{
  width: 100%;
  height: 100%;
  display: block;
}
#check-img {
  position: absolute;
  top: 170px;
  left: 47px;
  width: 28px;
  height: 31px;
}

/* tiles */

.tile {
  width: 119px;
  height: 119px;
  float: left;
  position: absolute;
  cursor: pointer;
}
.tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#tile1 {
  left: 18px;
  top: 242px;
}
#tile2 {
  left: 163px;
  top: 242px;
}
#tile3 {
  left: 18px;
  top: 417px;
}
#tile4 {
  left: 163px;
  top: 417px;
}

/* carousel */

#carousel {
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  width: 300px;
  height: 550px;
  background: url("../images/Carousel_Background_img.png") 0 -50px no-repeat;
  transform: translateX(-100%);
  transition: transform 0.6s ease;
  transform: translateY(0%) translateX(-100%);
}
#carousel.visible {
      transform: translateY(0%) translateX(0);
    }
#carouselTile1 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 550px;
  background: url("../images/Carousel_Background_Tile1.png") 0 -50px no-repeat;
}
#carouselTile2 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 550px;
  background: url("../images/Carousel_Background_Tile2.png") 0 -50px no-repeat;
}
#carouselTile3 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 550px;
  background: url("../images/Carousel_Background_Tile3.png") 0 -50px no-repeat;
}
#carouselTile4 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 550px;
  background: url("../images/Carousel_Background_Tile4.png") 0 -50px no-repeat;
}

/* back button */

#back-btn {
  position: absolute;
  display: block;
  width: 135px;
  height: 20px;
  bottom: 14px;
  left: 82px;
  cursor: pointer;
}

/* products */

#product-list {
  position: relative;
  display: block;
  width: 223px;
  height: 304px;
  overflow: hidden;
  margin-top: 102px;
  margin-left: 39px;
}

#product-list .container{
  display: block;
  width: 2230px;
  height: 304px;
}

#product-list .container .product {
  display: inline-block;
  width: 223px;
  height: 304px;
  float: left;
  overflow: hidden;
}
#product-list .container .product img {
  position: relative;
  display: block;
  width: auto;
  height: 150px;
  margin: 20px auto;
}
#product-list .container .product .price {
  position: relative;
  display: block;
  width: 100%;
  line-height: 20px;
  text-align: center;
  color: #ff0000;
  font-size: 16px;
  font-weight: bold;
}
#product-list .container .product .sale_price {
  position: relative;
  display: block;
  width: 100%;
  line-height: 12px;
  text-align: center;
  color: #ccc;
  font-size: 12px;
  font-weight: bold;
}
#product-list .container .product .sale_price span {
  text-decoration: line-through;
}
#product-list .container .product .title {
  position: relative;
  display: block;
  width: 90%;
  line-height: 14px;
  text-align: center;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  margin: 5px auto;
}

#product-list .error {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 235px;
  text-align: center;
}
